.sidebar{
    bottom:0;
    left:0;
    background-color: white;
    position:fixed;
    top:55px;
    width:80px;
    z-index:200;
    padding-top:5px;
}
.sidebar-link{
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    cursor:pointer;
}
.sidebar-link:hover{
    background-color: rgb(230, 223, 223);
}
.sidebar-link img{
    height:28px;
    margin-bottom:5px;
}
.sidebar-link div{
    font-family: roboto,arial;
    font-size:12px;
}